.input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 20px;
}

.input-section,
.display-section {
  flex: 1;
  padding: 8px;
  font-size: 1px;
}

.input-section label,
.display-section p {
  margin-bottom: 2px;
  display: block;
  font-size: 13.5px;
  width: calc(100% - 40px);
}

.input-section input,
.display-section p {
  width: calc(100% - 10px);
  padding: 4px;
  border-radius: 10px;
  border: 1.3px solid #602626;
  font-size: 14px;
}